<div class="row">
  <h2>This is your table <%= @user.name %></h2>

  <br/>

  <table>
    <tbody>
      <tr>
        <td class="primary callout"></td>
        <td>Initial block</td>
        <td class="alert callout"></td>
        <td>Hit</td>
        <td class="water callout"></td>
        <td>Water (Miss)</td>
        <td class="secondary callout"></td>
        <td>Ship block</td>
      </tr>
    </tbody>
  </table>

  <br/>

  <div class="large-6 columns">
    <h4>Enemy Shots & My Ships</h4>
    <table>
      <tbody>
        <tr>
          <th></th>
          <% numbers.each do |number| %>
            <th><%= number %></th>
          <% end %>
        </tr>
        <% letters.each do |letter| %>
          <tr>
            <td><%= letter %></td>
            <% numbers.each do |number| %>
              <% location = "#{letter}#{number}" %>
              <td class="<%= set_cube_class(location) %>"></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% my_ships.each do |ship| %>
      <div>
        <b><%= ship.title%></b> located in <%= ship.location %>
        <%#= text_field_tag "location", ship.location.join(","), class: "ship-location" %>
        <%#= link_to "Update location", "#", "data-behavior" => "set-ship-location", "data-ship-id" => ship.id, "data-user-id" => @user.id %>
      </div>
      <br/>
    <% end %>
  </div>

  <div class="large-6 columns">
    <h4>My Shots</h4>
    <table>
      <tbody>
        <tr>
          <th></th>
          <% numbers.each do |number| %>
            <th><%= number %></th>
          <% end %>
        </tr>
        <% letters.each do |letter| %>
          <tr>
            <td><%= letter %></td>
            <% numbers.each do |number| %>
              <td>
                <%= link_to "", shots_path(user_id: @user.id, location: "#{letter}#{number}"), method: :post, remote: true, class: set_shot_button_class("#{letter}#{number}"), id: "button_#{letter}#{number}" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
